/* footer */

#footer{
	text-align-last: center;
	font-family: 'Space Mono', monospace;
	font-size: 1rem;
	color: #49479D;
	background-color: #FFF7E9;
	height: 100px;
	padding: 5px 50px 5px 10px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer_logo{
	width: 100px;
}

.footer_info{
	margin-top: 10px;
}

.footer_redes{
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.img_redes{
	width: 30px;
	margin: 5px;
}